body {
  background:#1e1e1e;
  color:white;
  text-align:center;
  font-family:Arial;
}

#board{
  display:grid;
  grid-template-columns:repeat(15,1fr);
  width:90vw;
  max-width:500px;
  margin:auto;
}

.cell{
  border:1px solid #444;
  aspect-ratio:1;
  position:relative;
}

.piece{
  width:70%;
  height:70%;
  border-radius:50%;
  position:absolute;
  top:15%;
  left:15%;
  transition: all .3s ease;
}

.red{background:red;}
.blue{background:blue;}
.green{background:green;}
.yellow{background:gold;}